*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: monospace;
}

header{
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 75%;
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover{
    color: white;
    transition: color 0.3s;
}

.logo{
    height: 85%;
    border-radius: 50%;
    margin: 20px;
}

.seccion_paginas a{
    font-size: 17.2px;
    padding-right: 30px;
}

.card-container {
    perspective: 1000px;
}

/* Estilo de la card */
.card {
    width: 300px;
    height: 375px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;  
}

.card-front {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-front img{
    object-fit: cover;
    width: 150px;
    border-radius: 25px;
}

.card-front h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-front p {
    font-size: 16px;
}

.card-back {
    background-color: #f7f7f7;
    transform: rotateY(180deg);
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-back h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-back p {
    font-size: 16px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: monospace;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    margin: 5px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #00bcd4;
}

footer p {
    font-size: 12px;
    margin-top: 10px;
}